* {
    padding: 0;
    margin: 0;
}


body {
    background-color: #eee;
    font-size: 20px;
    text-align: center;
    font: 1em "Libre Baskerville", sans-serif;

}


.menu {
    width: 100%;
    background-color: #333;
    color: #ffffff;
    height: 60px;
}

.menu #logo {
    float: right;
    height: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    line-height: 30px;
}

.menu>ul {

    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

ul {
    display: inline;
    padding: 15px 4px 17px 0;
    list-style: none;
    margin: 0;
    webkit-box
}


.menu li {

    float: left;


}

.menu-items {
    display: inline-block;
    padding: 15px 20px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    30px
}


.menu-items:hover {
    background-color: blueviolet;

}

.sub-contect {
    position: absolute;
    padding-top: 60px;
    overflow: hidden;
    background-color: #333;
}

.sub-contect a {
    color: #fff;
    text-decoration: none;

}


.sub-drop {
    padding: 0px;
    width: 100%;
    margin: 0px;
    list-style-type: none;
}


.sub-drop ul li a {
    display: inline-block;
    padding: 10px 20px;

}